* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white; 
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.app-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    padding: 30px;
}

.titles-wrapper {
    text-align: center;
    margin-bottom: 20px;
}
.fa-wind {
    text-shadow: 0px 2px 7px rgb(70, 70, 70);
}

.app-title {
    text-shadow: 0px 2px 7px rgb(70, 70, 70);
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
}
.app-description {
    color: #dedce4;
    margin: 15px;
}

.weather-info-wrapper {
    position: relative;
    transition: .5s;
    width: 60vw;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    line-height: 2em;
    padding: 25px;
    background: white;
    box-shadow: 0px 5px 20px rgb(70, 70, 70);
}

.weather-info-wrapper:empty {
    display: none;
}

.weather-info-wrapper img {
    display: flex;
    border-radius: 20px;
    max-width: 100%;
}

.search-form {
    padding: 20px;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 60vw;
    border: none;
    border-radius: 25px;
    padding: 10px;
    z-index: 1;
    transition: 0.3s ease;
}

.search-bar:focus{
    width: 60.5vw;
    border: 2px solid #27cca3;
    box-shadow: 0px 5px 20px rgb(70, 70, 70);
}

.search-bar:focus ~ .search-button {
    margin-left: -152px;
}

.search-button {
    z-index: 2;
    margin-left: -150px;
    width: 150px;
    background: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: black;
    transition: 0.3s all;
    cursor: pointer;
}

.search-button:hover {
    background: #27cca3;
    color: white;
} 

.date-time {
    font-size: 30px;
    text-shadow: 0px 2px 7px rgb(70, 70, 70);
}